<form class="col-xs-12 row" [formGroup]="submissionForm">
  <mat-form-field class="col-xs-12">
    <input class="col-xs-12" formControlName="title" matInput
                placeholder="Eventname">
  </mat-form-field>
  <mat-form-field class="col-xs-12">
    <textarea class="col-xs-12" formControlName="description" matInput
                placeholder="Eventname"></textarea>
  </mat-form-field>
  <mat-form-field class="col-xs-12">
    <input class="col-xs-12" formControlName="eventlink" matInput
                placeholder="eventLink">
  </mat-form-field>
  <mat-form-field class="col-xs-12">
    <input formControlName="date" matInput [matDatepicker]="myDatepicker">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
</form>
